html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url('../images/login_bg.jpg') no-repeat center;
    background-size: cover;
}

.dengru {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dengru-a {
    height: 60px;
    background: url('../images/login_title.png') no-repeat center;
}

.dengru-c {
    display: none;
}

/* form表单 */
.layui-form {
    padding: 0 30px;
}

#dengru-ba,
#dengru-ca {
    float: right;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    top: 9px;
    left: 9px;
}

.layui-input {
    padding-left: 30px;
}